<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
	<link rel="stylesheet" href="~/css/assets/css/bootstrap.css">
	<link rel="stylesheet" href="~/css/style.css">
	
</head>

<body>
	<div class="main-wrapper">
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="active"> <a href="index.html"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>
						<li class="list-divider"></li>
						<li class="submenu">
							<a onclick="sendJwt('/Customers/Index','')"><i class="fa fa-person-booth"></i> <span> Customers Management </span> <span class="menu-arrow"></span></a>
						</li>
						<li class="submenu">
							<a onclick="sendJwt('/Staffs/Index','')"><i class="fa fa-user"></i> <span> Staffs Management </span> <span class="menu-arrow"></span></a>
						</li>
						<li class="submenu">
							<a onclick="sendJwt('/Questions/Index','')"><i class="fa fa-question"></i> <span> Questions Management </span> <span class="menu-arrow"></span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			<div class="col-md-12" id="listData">
			</div>
		</div>
	</div>
	
	<div id="error"></div>
	<script src="~/js/AdminCode.js"></script>
</body>

</html>